block variables
  title Page not found
extends layout

block content
  #title.row
    .col-md-10.col-md-offset-1.col-xs-6.col-xs-offset-3
      h1 Not found
      p Sorry, but the page you were trying to view does not exist.
      br
      p Why could it happen?
      ul.list-group.col-md-offset-4
        li.list-group-item a mistyped address
        li.list-group-item an out-of-date link
