extends layout

block content
  #title.row
    h1 About
    .col-md-offset-3
      h4 This site was created for Web Technology classes
      p and because I love Japanese language.
      p View the source code on
        a(href="http://github.com/mbuda/benkyou-helper")  Github
  #about-list.col-md-7
    .panel.panel-default
      .panel-heading
        p What I prepared for you?
      ul#about-ul.list-group.panel-body
        li.list-group-item game based on interactive board
        li.list-group-item gallery of game results
  #about-tech.col-md-5
    .panel.panel-default
      .panel-heading
        p What I used?
      ul.list-group.panel-body
        li.list-group-item Node.js
        li.list-group-item Express.js
        li.list-group-item Socket.io
        li.list-group-item Jade
        li.list-group-item Redis

