extends layout

block content
  .jumbotron
    h2 So you want to know some more?
    p.lead This site was created for Web Technology classes
    p and because I love japanese language.
    p
      a.btn.btn-lg.btn-success(href='/games')
        | Don't waste time, learn!
        span.glyphicon.glyphicon-ok
  .row
    #about-list
      h3 What I prepared for you?
      ul#about-ul.list-group
        li.list-group-item chat for real-time talk
        li.list-group-item game based on interactive board
