extends layout

block content
  #title.row
    h1 About
    .col-md-offset-3
      h4 This site was created for Web Technology classes
      p and because I love Japanese language.
  #about-list.col-md-7
    h3 What I prepared for you?
    ul#about-ul.list-group
      li.list-group-item chat for real-time talk
      li.list-group-item game based on interactive board
  #about-tech.col-md-5
    h3 What packages I used?
    ul.list-group
      li.list-group-item Node.js
      li.list-group-item Express.js
      li.list-group-item Socket.io
      li.list-group-item Jade
