block variables
  title Contact me
extends layout

block content
  #title
    h1 Contact
    h4 Feel free to write to me
  #contact-list
    .panel.panel-primary
      .panel-heading
        h5
          span.glyphicon.glyphicon-screenshot
          |  You can find me:
      ul.panel-body.list-group
        li.list-group-item
          | on
          a(href='http://github.com/mbuda')  Github
        li.list-group-item
          | on
          a(href='http://twitter.com/anaksamea')  Twitter
        li.list-group-item
          | on
          a(href='http://linkedin.com/in/anaksamea')  Linkedin
        li.list-group-item
          | on
          a(href='http://about.me/marta.buda')  about.me
        li.list-group-item or just write an email to anaksamea@gmail.com
