extends layout

block content
  #contact-list
    h2 Feel free to write to me
      h4 You can find me here:
      ul.list-group
        li.list-group-item
          | on
          a(href='http://twitter.com/anaksamea') twitter
        li.list-group-item
          | on
          a(href='http://linkedin.com/in/anaksamea') linkedin
        li.list-group-item or just write an email anaksamea@gmail.com
