block variables
  title Game results
extends layout

block content
  #title.h1 Gallery
  #gallery
    #loader.loading
    ul#gallery-list

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='js/gallery.js')
