block variables
  title Mnemo board
extends layout

block content
  #title.h1 Board game
  .col-md-7
    canvas#paper(width='600px', height='400px')
      | If your browser don't support canvas you can't play with us...
    #tip
      h3 Here you got hiragana to read kanji pronounciation
      button#show-hiragana.btn.btn-success
        span.fa.fa-gift
        |  Show/hide hiragana
      #hiragana
        img(src='../img/hiragana.png')

  .col-md-5
    #instructions
      h2 Let's play!
      h3 I gave you kanji, you draw anything that help you remind it.
      h4 If you want to clear your board, refresh page or change background

    #board-btns
      button#save_img.btn.btn-success
        span.fa.fa-save
        |  Save to gallery
      button#change_bg.btn.btn-success
        span.fa.fa-random
        |  Change background kanji
      br
      button#bigger_brush.btn.btn-success
        span.fa.fa-plus
        |  brush
      button#smaller_brush.btn.btn-success
        span.fa.fa-minus
        |  brush

  .clear-fix

  .row
    #images

block scripts
  script(src='/socket.io/socket.io.js')
  script(src='js/game.js')
