.header
  ul.nav.nav-pills.pull-right
    li
      a(href="/")
        span.fa.fa-home
        p  Home
    li
      a(href="/about")
        span.fa.fa-eye
        p  About
    li
      a(href="/game")
        span.fa.fa-play
        p  Game
    li
      a(href="/gallery")
        span.fa.fa-trophy
        p  Gallery
    li
      a(href="/contact")
        span.fa.fa-envelope
        p  Contact
    li
      a(href="/links")
        span.fa.fa-link
        p  Links
