.header
  ul.nav.nav-pills.pull-right
    li
      a(href="/")
        span.fa.fa-home  Home
    li
      a(href="/about")
        span.fa.fa-eye  About
    li
      a(href="/game")
        span.fa.fa-play  Game
    li
      a(href="/gallery")
        span.fa.fa-trophy  Gallery
    li
      a(href="/contact")
        span.fa.fa-envelope  Contact
    li
      a(href="/links")
        span.fa.fa-link  Links
