.header
  ul.nav.nav-pills.pull-right
    li
      a(href="/")
        span.glyphicon.glyphicon-home
    li
      a(href="/about") About
    li
      a(href="/game") Game
    li
      a(href="/gallery") Gallery
    li
      a(href="/contact") Contact
    li
      a(href="/links") Links

