extends layout

block content
  .jumbotron
    h1 Welcome!
    p.lead Here you will improve your Nihongo and help others to learn.
    p
      a.btn.btn-lg.btn-success(href='/game')
        span.glyphicon.glyphicon-ok
        |  Click and play!
