extends layout

block content
  .jumbotron
    h1 Welcome!
    p.lead Here you will improve your Nihongo and help others to learn.
    p.faa-parent.animated-hover
      a.btn.btn-lg.btn-success.faa-parent.animated-hover.faa-float(href='/game')
        span.fa.fa-bolt.faa-flash
        |  Click and play!
