extends layout

block content
  .jumbotron
    h1 Welcome!
    p.lead Here you will improve your Nihongo and help others to learn.
    p
      a.btn.btn-lg.btn-success(href='/game')
        | Click and play!
        span.glyphicon.glyphicon-ok
  .row.marketing
    .col-lg-6
      h4 HTML5, CSS and Javascript
      p ...are the core of this website. Hope you like it.
