extends layout

block content
  #title
    h1 Useful links
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          h4 In Polish
        ul.panel-body.list-group
          li.list-group-item
            a(href='http://benkyo.pl/') Kurs japońskiego Benkyo
          li.list-group-item
            a(href='http://pl.wikibooks.org/wiki/Japo%C5%84ski') Japoński - Wikibooks
          li.list-group-item
            a(href='http://www.japonski.slowka.pl/') Japoński na słowka.pl
          li.list-group-item
            a(href='http://www.pl.emb-japan.go.jp/') Ambasada Japonii w Polsce
          li.list-group-item
            a(href='http://animatsuri.pl/') Stowarzyszenie Animatsuri
          li.list-group-item
            a(href='http://jpf.com.pl/') Wydawnictwo Japonica Polonica Fantastica
          li.list-group-item
            a(href='http://waneko.pl/') Wydawnictwo Waneko
    .col-md-6
      .panel.panel-default
        .panel-heading
          h4 In English
        ul.panel-body.list-group
          li.list-group-item
            a(href='http://nihongoichiban.com/') Nihongo Ichiban
          li.list-group-item
            a(href='http://www.jlpt.jp/e/index.html') JLPT official site
          li.list-group-item
            a(href='http://www.jpf.go.jp/e/index.html') Japan Foundation
          li.list-group-item
            a(href='http://japanese.gatech.edu/WebCTVista/JAPN1001/contents/Lesson02/hiragana/mnemonic-hiragana.html') Hiragana mnemonics



