#title {
  text-align: center;
  margin-bottom: 10px;
}

#about-mnemo {
  color: @c;
  text-align: center;
  padding: 30px;
  width: auto;
  background-color: @bg;
  border: @bg solid 2px;
  border-radius: 10px;
}

#about-list .panel, #about-tech .panel, #about-mnemo {
  margin: 30px;
  padding-bottom: 30px;
  .box-mixin
}
