#title {
  text-align: center;
  margin-bottom: 10px;
}

#about-mnemo {
  text-align: center;
  padding: 30px;
  width: auto;
  border: @c solid 2px;
  border-radius: 10px;
}

#about-list .panel, #about-tech .panel, #about-mnemo {
  margin: 30px;
  .box-mixin
}
