.box-mixin {
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
}

#gallery {
  margin: 30px auto;
  width: @width + 200px;
  img {
    margin-top: 25px;
    margin-bottom: 10px;
    .box-mixin
  }
  #loader{
    width: @width + 200px;
    height: @width;
    display: none;
  }
  #loader.loading {
    background: url(../img/spinner.gif) no-repeat center center;
    background-color: white;
  }

  #gallery-list {
    list-style: none;
  }
}
