@a: #222;
@c: #eee;
@width: 400px;

#instructions {
    padding: 15px;
    margin-top: 10px;
    background-color: @a + #789 ;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(100, 100, 100, 0.1), 0 3px 1px #D4D4D4;
    color: @a + #222;
}

#board-btns {
    margin-top: 10px;
    margin-bottom: 15px;
    #save_img, #change_bg, #bigger_brush, #smaller_brush {
        margin: 10px;
    }
}

.line {
    padding: 3px 0;
    display: block;
    width: auto;
    height: 2px;
    border-bottom: 1px solid @c;
}

#images {
    margin-top: 10px;
    margin-bottom: 5px;
    img {
      width: 25%;
      height: 25%;
      margin: 10px;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
    }
    img:hover {
      filter: grayscale(5%);
      -webkit-filter: grayscale(5%);
      -moz-filter: grayscale(5%);
      -o-filter: grayscale(5%);
      -ms-filter: grayscale(5%);
    }
}
