@a: #222;
@c: #eee;
@width: 400px;

#paper {
  border: @bg solid 3px;
  margin-top: 10px;
}

#show-hiragana {
    margin: 10px;
}

#hiragana {
    display: none;
}

#instructions {
    text-align: center;
}

#board-btns {
    margin-top: 10px;
    margin-bottom: 15px;
    #save_img, #change_bg, #bigger_brush, #smaller_brush {
        margin: 10px;
    }
}

.line {
    padding: 3px 0;
    display: block;
    width: auto;
    height: 2px;
    border-bottom: 1px solid @c;
}

#images {
    margin-top: 10px;
    margin-bottom: 5px;
    img {
      width: 25%;
      height: 25%;
      margin: 10px;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);
      -moz-filter: grayscale(100%);
      -o-filter: grayscale(100%);
      -ms-filter: grayscale(100%);
    }
    img:hover {
      filter: grayscale(5%);
      -webkit-filter: grayscale(5%);
      -moz-filter: grayscale(5%);
      -o-filter: grayscale(5%);
      -ms-filter: grayscale(5%);
    }
}
