@import "yeo.less";
@import "game.less";
@import "about.less";
@import "contact.less";
@import "links.less";
@import "gallery.less";

html {
  background-color: @c + #111;
  body {
    background-color: @c + #111;
  }
}

.clear-fix {
  clear: both;
}
