@bg: #64007F;

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html {
    margin: 0;
}

body {
    background-color: spin(lighten(@bg, 25%), 8);
}

.container {
    background-color: spin(lighten(@bg, 50%), 8);
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.footer {
    padding-left: 15px;
    padding-right: 15px;

}

/* Custom page header */
.header {
    background: url(../img/logo.png) no-repeat center left 50px @bg;
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
    height: 120px;
    padding-bottom: 19px;
    .nav.nav-pills {
        margin-top: 50px;
        padding-right: 50px;
    }
}

/* Custom page footer */
.footer {
    margin-bottom: 0px;
    padding-top: 19px;
    padding-bottom: 25px;
    color: @c;
    background-color: #64007F;
    p {
        padding-left: 50px;
    }
}

/* Main marketing message and sign up button */
.jumbotron {
    max-width: 88%;
    margin: 10px auto;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .box-mixin
}

.jumbotron .btn {
    font-size: 21px;
    padding: 12px 24px;
    margin-top: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 90%;
    }

    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
